# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Configuration and Secrets (CRITICAL)
config/.env
.env

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# PyCharm / VSCode
.idea/
.vscode/

# Large Models (if downloaded locally)
mosaickg/
*.bin
*.h5
